body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  scroll-behavior: smooth;
  background: linear-gradient(to right, #81C7E4, #F4F9FF);  /* Soft gradient */
color: white;
  position: relative;
  overflow: hidden;
}
/* Prevent horizontal scrolling on mobile */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}


/* WhatsApp Icon */
.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366; /* WhatsApp green */
  border-radius: 50%;
  width: 50px;  
  height: 50px;  
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s;
  opacity: 0; 
  visibility: hidden;
  transform: translateY(50px); /* Initially pushed down */
}

/* Animation when the icon appears */
.whatsapp-icon.show {
  opacity: 1; 
  visibility: visible; 
  transform: translateY(0px); /* Moves to normal position */
}

/* Hover effect */
.whatsapp-icon:hover {
  transform: translateY(-5px) scale(1.1); /* Moves slightly up and zooms */
}
