body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  scroll-behavior: smooth;
  background: linear-gradient(to right, #81C7E4, #F4F9FF);  /* Soft gradient */
color: white;
  position: relative;
  overflow: hidden;
}
/* Prevent horizontal scrolling on mobile */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}


/* WhatsApp Icon */
.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366; /* WhatsApp green */
  border-radius: 50%;
  width: 50px;  /* Set width */
  height: 50px;  /* Set height to make it a square */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px; /* Adjust font size */
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
  opacity: 0; /* Initially hidden */
  visibility: hidden; /* Initially not visible */
}

/* Animation when the icon appears */
.whatsapp-icon.show {
  opacity: 1; /* Make it visible */
  visibility: visible; /* Make it visible */
  transform: translateY(-20px); /* Animate upwards */
}

.whatsapp-icon:hover {
  transform: scale(1.1); /* Slight zoom effect */
}
